{
  "openapi": "3.1.0",
  "info": {
    "title": "Memory Engine API",
    "version": "1.0.0",
    "description": "Versioned JSON API for external learning clients such as Scry. The engine owns memory, generation, scheduling, and grading; clients own product experience."
  },
  "servers": [
    {
      "url": "https://scry.study",
      "description": "Branded production origin (default)."
    },
    {
      "url": "https://memory-engine-api-i2xcr.ondigitalocean.app",
      "description": "DigitalOcean App Platform origin scry.study fronts. Operator-origin fallback only, e.g. while DNS for the branded domain is degraded."
    }
  ],
  "security": [
    {
      "bearerSession": []
    }
  ],
  "paths": {
    "/v1/openapi.json": {
      "get": {
        "summary": "Read the v1 OpenAPI contract",
        "security": [],
        "responses": {
          "200": {
            "description": "OpenAPI contract"
          }
        }
      }
    },
    "/v1/accounts": {
      "post": {
        "summary": "Create an account session",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Account session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountCreated"
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/service-sessions": {
      "post": {
        "summary": "Issue or rotate a service-session credential",
        "description": "Operator-gated machine bootstrap: issues a fresh account-scoped session token for an allowlisted service account, creating the account on first issue. Every issue replaces the prior token, so reissue doubles as immediate revocation. Disabled unless the host configures an admin token.",
        "security": [],
        "parameters": [
          {
            "name": "x-admin-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Service session credential",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountCreated"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/accounts/{account_id}/sources": {
      "get": {
        "summary": "List active sources",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          }
        ],
        "responses": {
          "200": {
            "description": "Source list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceList"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create source material",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSourceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created source",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceRecord"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{account_id}/sources/{source_id}": {
      "delete": {
        "summary": "Archive source material",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/SourceId"
          }
        ],
        "responses": {
          "204": {
            "description": "Source archived"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "patch": {
        "summary": "Update active source permission",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/SourceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSourcePermissionRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Source permission updated"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/accounts/{account_id}/project-decks": {
      "post": {
        "summary": "Create a project-scoped volatile deck",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProjectDeckRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created project deck",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectDeckRecord"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{account_id}/project-decks/{deck_id}/invalidate": {
      "post": {
        "summary": "Invalidate a project deck after an external event",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/DeckId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvalidateProjectDeckRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Study view after volatile cards were retired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StudyViewResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/accounts/{account_id}/sources/{source_id}/generate": {
      "post": {
        "summary": "Legacy synchronous compatibility route for direct generation",
        "description": "This direct v1 route is rejected with 409 Conflict on Postgres-backed production deployments. Durable production generation uses the queued app workflow and polling.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/SourceId"
          }
        ],
        "responses": {
          "409": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/accounts/{account_id}/sources/{source_id}/generation-jobs": {
      "post": {
        "summary": "Enqueue durable generation for an owned source",
        "description": "Starts the same bounded durable generation workflow used by the browser app. A repeated request while the account and source already have a queued or running job returns that existing job with coalesced=true.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/SourceId"
          }
        ],
        "responses": {
          "202": {
            "description": "Generation job accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnqueuedGenerationJob"
                }
              }
            }
          },
          "200": {
            "description": "Existing in-flight generation job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnqueuedGenerationJob"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/accounts/{account_id}/generation-jobs/{job_id}": {
      "get": {
        "summary": "Observe one account-scoped generation job",
        "description": "Poll until status is succeeded or failed. cardCount reports how many accepted cards were scheduled and may be zero when no draft passed validation.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/JobId"
          }
        ],
        "responses": {
          "200": {
            "description": "Current durable generation job state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerationJob"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/accounts/{account_id}/drafts/{draft_id}/approve": {
      "post": {
        "summary": "Keep one generated draft as a review unit",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/DraftId"
          }
        ],
        "responses": {
          "200": {
            "description": "Study view with current review when due",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StudyViewResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{account_id}/review/next": {
      "post": {
        "summary": "Select the next due review",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          }
        ],
        "responses": {
          "200": {
            "description": "Study view with the next due review if available",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StudyViewResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{account_id}/review/{review_unit_id}/reveal": {
      "post": {
        "summary": "Reveal the current review answer",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/ReviewUnitId"
          }
        ],
        "responses": {
          "200": {
            "description": "Study view with expected answer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StudyViewResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{account_id}/review/{review_unit_id}/reference": {
      "post": {
        "summary": "Show reference material for the current review",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/ReviewUnitId"
          }
        ],
        "responses": {
          "200": {
            "description": "Study view with source-backed or generated reference material",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StudyViewResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{account_id}/review/{review_unit_id}/skip": {
      "post": {
        "summary": "Briefly defer the current review without grading it",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/ReviewUnitId"
          }
        ],
        "responses": {
          "200": {
            "description": "Study view with the skipped item deferred and the next due item selected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StudyViewResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{account_id}/review/{review_unit_id}/snooze": {
      "post": {
        "summary": "Snooze the current review without grading it",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/ReviewUnitId"
          }
        ],
        "responses": {
          "200": {
            "description": "Study view with the snoozed item deferred and the next due item selected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StudyViewResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{account_id}/review/{review_unit_id}/snooze-concept": {
      "post": {
        "summary": "Snooze every review under the current concept without grading it",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/ReviewUnitId"
          }
        ],
        "responses": {
          "200": {
            "description": "Study view with every card under the current concept deferred and the next due item selected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StudyViewResponse"
                }
              }
            }
          },
          "400": {
            "description": "The current review unit has a null or blank concept key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The account does not own the requested review",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The requested review unit is stale or not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The account study store is busy; retry the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{account_id}/review/{review_unit_id}/bridge": {
      "post": {
        "summary": "Generate easier bridge material for the current review",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/ReviewUnitId"
          }
        ],
        "responses": {
          "200": {
            "description": "Study view with generated bridge items queued ahead of the parent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StudyViewResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{account_id}/review/{review_unit_id}/submit": {
      "post": {
        "summary": "Submit an answer and apply scheduling",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/ReviewUnitId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitReviewRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Study view with grade and schedule result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StudyViewResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{account_id}/review/{review_unit_id}/content-feedback": {
      "post": {
        "summary": "Record a binary learner judgment of generated content",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/ReviewUnitId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContentFeedbackRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account-scoped append-only feedback row",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentFeedback"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerSession": {
        "type": "http",
        "scheme": "bearer",
        "description": "Use the sessionToken returned by /v1/accounts or a pre-provisioned account session."
      }
    },
    "parameters": {
      "AccountId": {
        "name": "account_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "pattern": "^acct_[a-f0-9]+$"
        }
      },
      "SourceId": {
        "name": "source_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "JobId": {
        "name": "job_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "pattern": "^job-[a-f0-9]+$"
        }
      },
      "DeckId": {
        "name": "deck_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "DraftId": {
        "name": "draft_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "ReviewUnitId": {
        "name": "review_unit_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "JSON API error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        }
      }
    },
    "schemas": {
      "CreateAccountRequest": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "AccountCreated": {
        "type": "object",
        "required": [
          "accountId",
          "sessionToken"
        ],
        "properties": {
          "accountId": {
            "type": "string"
          },
          "sessionToken": {
            "type": "string"
          }
        }
      },
      "CreateSourceRequest": {
        "type": "object",
        "required": [
          "title",
          "body"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "permission": {
            "type": "string",
            "enum": [
              "local-only",
              "model-eligible"
            ],
            "default": "model-eligible",
            "description": "Whether captured source bytes may be sent to a model provider."
          }
        }
      },
      "CreateProjectDeckRequest": {
        "type": "object",
        "required": [
          "projectKey",
          "title",
          "body"
        ],
        "properties": {
          "projectKey": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "ttlExpiresAt": {
            "type": "integer"
          }
        }
      },
      "UpdateSourcePermissionRequest": {
        "type": "object",
        "required": [
          "permission"
        ],
        "properties": {
          "permission": {
            "type": "string",
            "enum": [
              "local-only",
              "model-eligible"
            ],
            "description": "Whether captured source bytes may be sent to a model provider."
          }
        }
      },
      "InvalidateProjectDeckRequest": {
        "type": "object",
        "required": [
          "event"
        ],
        "properties": {
          "event": {
            "type": "string"
          }
        }
      },
      "SourceList": {
        "type": "object",
        "required": [
          "sources"
        ],
        "properties": {
          "sources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SourceRecord"
            }
          }
        }
      },
      "SourceRecord": {
        "type": "object",
        "required": [
          "sourceId",
          "title",
          "body",
          "permission"
        ],
        "properties": {
          "sourceId": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "permission": {
            "type": "string",
            "enum": [
              "local-only",
              "model-eligible"
            ]
          },
          "projectKey": {
            "type": "string"
          },
          "ttlExpiresAt": {
            "type": "integer"
          }
        }
      },
      "GenerationJob": {
        "type": "object",
        "required": [
          "id",
          "sourceId",
          "title",
          "status",
          "cardCount",
          "attempts",
          "retryable",
          "error",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "sourceId": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["queued", "running", "retry", "succeeded", "failed"]
          },
          "cardCount": {
            "type": "integer",
            "minimum": 0
          },
          "attempts": {
            "type": "integer",
            "minimum": 0
          },
          "retryable": {
            "type": "boolean"
          },
          "error": {
            "type": ["string", "null"]
          },
          "createdAt": {
            "type": "integer"
          },
          "updatedAt": {
            "type": "integer"
          }
        }
      },
      "EnqueuedGenerationJob": {
        "allOf": [
          {
            "$ref": "#/components/schemas/GenerationJob"
          },
          {
            "type": "object",
            "required": [
              "coalesced"
            ],
            "properties": {
              "coalesced": {
                "type": "boolean"
              }
            }
          }
        ]
      },
      "ProjectDeckRecord": {
        "type": "object",
        "required": [
          "deckId",
          "projectKey",
          "source"
        ],
        "properties": {
          "deckId": {
            "type": "string"
          },
          "projectKey": {
            "type": "string"
          },
          "source": {
            "$ref": "#/components/schemas/SourceRecord"
          }
        }
      },
      "SubmitReviewRequest": {
        "type": "object",
        "required": [
          "answer",
          "responseTimeMs",
          "idempotencyKey"
        ],
        "properties": {
          "answer": {
            "type": "string"
          },
          "responseTimeMs": {
            "type": "integer",
            "minimum": 1
          },
          "idempotencyKey": {
            "type": "string"
          }
        }
      },
      "ContentFeedbackRequest": {
        "type": "object",
        "required": [
          "verdict",
          "idempotencyKey"
        ],
        "properties": {
          "verdict": {
            "type": "string",
            "enum": ["kept", "dropped"]
          },
          "rationale": {
            "type": ["string", "null"]
          },
          "idempotencyKey": {
            "type": "string"
          },
          "supersedesId": {
            "type": ["string", "null"]
          }
        }
      },
      "ContentFeedback": {
        "type": "object",
        "required": [
          "id",
          "reviewUnitId",
          "verdict",
          "source",
          "accountId",
          "occurredAt"
        ],
        "properties": {
          "id": {"type": "string"},
          "reviewUnitId": {"type": "string"},
          "verdict": {"type": "string", "enum": ["kept", "dropped"]},
          "rationale": {"type": ["string", "null"]},
          "source": {"type": "string", "enum": ["human"]},
          "accountId": {"type": "string"},
          "occurredAt": {"type": "integer"},
          "supersedesId": {"type": ["string", "null"]}
        }
      },
      "StudyViewResponse": {
        "type": "object",
        "required": [
          "drafts",
          "current",
          "conceptProgress",
          "summary",
          "dueCount",
          "generationNotices"
        ],
        "properties": {
          "drafts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StudyDraft"
            }
          },
          "current": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/StudyCurrent"
              },
              {
                "type": "null"
              }
            ]
          },
          "conceptProgress": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConceptProgress"
            }
          },
          "summary": {
            "$ref": "#/components/schemas/StudySummary"
          },
          "dueCount": {
            "type": "integer",
            "minimum": 0
          },
          "generationNotices": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "StudyDraft": {
        "type": "object",
        "required": [
          "id",
          "reviewUnitId",
          "activityKind",
          "activityStage",
          "prompt",
          "validationStatus",
          "validationReasons",
          "workedSolution",
          "approved"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "reviewUnitId": {
            "type": "string"
          },
          "activityKind": {
            "type": "string"
          },
          "activityStage": {
            "type": "string"
          },
          "prompt": {
            "type": "string"
          },
          "validationStatus": {
            "type": "string"
          },
          "validationReasons": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "workedSolution": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "approved": {
            "type": "boolean"
          }
        }
      },
      "StudyCurrent": {
        "type": "object",
        "required": [
          "reviewUnitId",
          "conceptKey",
          "promptId",
          "activityKind",
          "activityStage",
          "prompt",
          "choices",
          "revisionExpectedAnswer",
          "expectedAnswer",
          "referenceText",
          "workedSolution",
          "grade",
          "reviewState",
          "scheduleChange",
          "feedback",
          "contentFeedbackHeadId"
        ],
        "properties": {
          "reviewUnitId": {
            "type": "string"
          },
          "conceptKey": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Existing persisted concept grouping key, when this card belongs to one."
          },
          "promptId": {
            "type": "string"
          },
          "activityKind": {
            "type": "string"
          },
          "activityStage": {
            "type": "string"
          },
          "prompt": {
            "type": "string"
          },
          "choices": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "revisionExpectedAnswer": {
            "type": "string"
          },
          "expectedAnswer": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "referenceText": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "workedSolution": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "grade": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/StudyGrade"
              },
              {
                "type": "null"
              }
            ]
          },
          "reviewState": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ReviewState"
              },
              {
                "type": "null"
              }
            ]
          },
          "scheduleChange": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ScheduleChange"
              },
              {
                "type": "null"
              }
            ]
          },
          "feedback": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/StudyFeedback"
              },
              {
                "type": "null"
              }
            ]
          },
          "contentFeedbackHeadId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "StudyFeedback": {
        "type": "object",
        "required": [
          "verdict",
          "expectedAnswer",
          "itemHistory",
          "conceptProgress"
        ],
        "properties": {
          "verdict": {
            "type": "string"
          },
          "expectedAnswer": {
            "type": "string"
          },
          "itemHistory": {
            "$ref": "#/components/schemas/StudyItemHistory"
          },
          "conceptProgress": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ConceptProgress"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "StudyItemHistory": {
        "type": "object",
        "required": [
          "attempts",
          "correct",
          "successRate",
          "trend",
          "lastSeen",
          "lastSeenSummary",
          "lastResponseTimeMs",
          "averageResponseTimeMs",
          "responseTimeTrend",
          "stage",
          "nextReview"
        ],
        "properties": {
          "attempts": {
            "type": "integer",
            "minimum": 0
          },
          "correct": {
            "type": "integer",
            "minimum": 0
          },
          "successRate": {
            "type": "string"
          },
          "trend": {
            "type": "string"
          },
          "lastSeen": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ]
          },
          "lastSeenSummary": {
            "type": "string"
          },
          "lastResponseTimeMs": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 0
              },
              {
                "type": "null"
              }
            ]
          },
          "averageResponseTimeMs": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 0
              },
              {
                "type": "null"
              }
            ]
          },
          "responseTimeTrend": {
            "type": "string"
          },
          "stage": {
            "type": "string"
          },
          "nextReview": {
            "type": "string"
          }
        }
      },
      "ConceptProgress": {
        "type": "object",
        "required": [
          "conceptKey",
          "conceptLabel",
          "attempts",
          "correct",
          "successRate",
          "trend",
          "averageResponseTimeMs",
          "responseTimeTrend",
          "health",
          "summary"
        ],
        "properties": {
          "conceptKey": {
            "type": "string"
          },
          "conceptLabel": {
            "type": "string"
          },
          "attempts": {
            "type": "integer",
            "minimum": 0
          },
          "correct": {
            "type": "integer",
            "minimum": 0
          },
          "successRate": {
            "type": "string"
          },
          "trend": {
            "type": "string"
          },
          "averageResponseTimeMs": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 0
              },
              {
                "type": "null"
              }
            ]
          },
          "responseTimeTrend": {
            "type": "string"
          },
          "health": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          }
        }
      },
      "StudyGrade": {
        "type": "object",
        "required": [
          "verdict",
          "rating",
          "isCorrect"
        ],
        "properties": {
          "verdict": {
            "$ref": "#/components/schemas/Verdict"
          },
          "rating": {
            "type": "integer",
            "enum": [
              1,
              2,
              3,
              4
            ]
          },
          "isCorrect": {
            "type": "boolean"
          }
        }
      },
      "ReviewState": {
        "type": "object",
        "required": [
          "due",
          "reps",
          "lapses",
          "state",
          "last_review"
        ],
        "properties": {
          "due": {
            "type": "integer"
          },
          "reps": {
            "type": "integer"
          },
          "lapses": {
            "type": "integer"
          },
          "state": {
            "type": "integer",
            "enum": [
              0,
              1,
              2,
              3
            ]
          },
          "last_review": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "ScheduleChange": {
        "type": "object",
        "required": [
          "before",
          "after"
        ],
        "properties": {
          "before": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ReviewState"
              },
              {
                "type": "null"
              }
            ]
          },
          "after": {
            "$ref": "#/components/schemas/ReviewState"
          }
        }
      },
      "StudySummary": {
        "type": "object",
        "required": [
          "sourceCount",
          "acceptedDraftCount",
          "approvedReviewUnitCount",
          "attemptCount",
          "lastOutcome",
          "nextReviewUnitId"
        ],
        "properties": {
          "sourceCount": {
            "type": "integer",
            "minimum": 0
          },
          "acceptedDraftCount": {
            "type": "integer",
            "minimum": 0
          },
          "approvedReviewUnitCount": {
            "type": "integer",
            "minimum": 0
          },
          "attemptCount": {
            "type": "integer",
            "minimum": 0
          },
          "lastOutcome": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Verdict"
              },
              {
                "type": "null"
              }
            ]
          },
          "nextReviewUnitId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "Verdict": {
        "type": "string",
        "enum": [
          "correct",
          "close",
          "wrong",
          "revealed"
        ]
      },
      "ApiError": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string"
          }
        }
      }
    }
  }
}
